<div class="row center-xs">

  <div class="col-xs center-xs">

    <app-button-upload-data (dataProcessed)="handleFinalThresholds($event)" [isDataset]="false" >Cargar umbrales</app-button-upload-data>



  </div>
  <div class="col-xs">

    <app-button-upload-data (dataProcessed)="handleFinalWeights($event)" [isDataset]="false" [isThreshold]="false">Cargar pesos</app-button-upload-data>



  </div>
  <div class="col-xs">

    <app-button-upload-data (dataProcessed)="handleFinalInputParameters($event)">Cargar dataset</app-button-upload-data>



  </div>
  <div class="col-xs">
    <button mat-flat-button color="primary" (click)="startSimulation()" [disabled]="!finalThresholds || !finalWeights || !inputParameters">Iniciar simulación</button>    
  </div>
</div>
<div class="row padding-vertical-16">
  <div class="col-xs">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->


      <!-- Name Column -->


      @for (nameColumn of displayedColumns; track nameColumn) {
      <ng-container matColumnDef="{{nameColumn}}">
        <th mat-header-cell *matHeaderCellDef> {{findColumName(nameColumn)}} </th>
        <td mat-cell *matCellDef="let element"> {{element[nameColumn]}} </td>
      </ng-container>
      } @empty {
      Empty list of users
      }


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>