
<div class="row">
  <canvas  id="MyChart" >{{ chart }}</canvas>

</div>
<div class="row around-xs">
  <div class="col-xs">
    <p-button (click)="trainingNetwork()" label="Repetir entrenamiento" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  
  </div>
  <div class="col-xs padding-vertcal-16">
    <app-button-upload-data [inputParametters]="dataTraining" [isUpload]="false">Guardar pesos y umbrales</app-button-upload-data>
  
  </div>
  
</div> 
  

      


